.carouselContainer{
    height: 100%;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.movingCarousel{
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    column-gap: 20px;
    display: inline-flex;
    flex-direction: row;
    animation: slide 20s linear infinite;
    position: absolute;
    left: 0;
}
  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -3530px;
    }
  }
.track1{
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    position: relative;
    box-sizing: border-box;
}
.track2{
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    box-sizing: border-box;
}
.carouselItem2{
    height: 100%;
    width: 450px;
    border-radius: 10px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.carouselItem1{
    height: 100%;
    width: 850px;
    border-radius: 10px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}