
@font-face {
  font-family: "Bright";
  src: url('/fonts/Analogue.otf');
  font-weight: normal;
  font-style: normal;
}
.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  width: 440px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 5px;
  z-index: 10;
  border-radius: 10px;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  z-index: 99;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button1{
  background-color: white;
  color: black;
  height: 100%;
  width: 120px;
  border-radius: 5px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.button1:hover{
  background-color: black;
  color: white;
}
.name{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 24px;
  color: black;
  font-family: "Bright";
}
.button2{
  background-color: black;
  color: white;
  height: 100%;
  width: 120px;
  border-radius: 5px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:300;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.button2:hover{
  background-color: white;
  color: black;
}
@media only screen and (max-width:756px){
  .header{
    width: 350px;
  }
  .name{
    font-size: 20px;
  }
  .button1{
    width: 90px;
  }
  .button2{
    width: 90px;
  }
}